<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionStockJhipsterApp.paramArticle.home.title">Param Articles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-param-article" [routerLink]="['/param-article/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionStockJhipsterApp.paramArticle.home.createLabel">
            Create a new Param Article
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paramArticles?.length === 0">
        <span jhiTranslate="gestionStockJhipsterApp.paramArticle.home.notFound">No paramArticles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paramArticles && paramArticles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionStockJhipsterApp.paramArticle.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="gestionStockJhipsterApp.paramArticle.libelle">Libelle</span></th>
                    <th scope="col" ><span jhiTranslate="gestionStockJhipsterApp.paramArticle.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="gestionStockJhipsterApp.paramArticle.consommable">Consommable</span></th>
                    <th scope="col" ><span jhiTranslate="gestionStockJhipsterApp.paramArticle.quantiteSeuil">Quantite Seuil</span></th>
                    <th scope="col" ><span jhiTranslate="gestionStockJhipsterApp.paramArticle.garantieSeuil">Garantie Seuil</span></th>
                    <th scope="col" ><span jhiTranslate="gestionStockJhipsterApp.paramArticle.expirationSeuil">Expiration Seuil</span></th>
                    <th scope="col" ><span jhiTranslate="gestionStockJhipsterApp.paramArticle.expirable">Expirable</span></th>
                    <th scope="col" ><span jhiTranslate="gestionStockJhipsterApp.paramArticle.famille">Famille</span></th>
                    <th scope="col" ><span jhiTranslate="gestionStockJhipsterApp.paramArticle.unite">Unite</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paramArticle of paramArticles ;trackBy: trackId">
                    <td><a [routerLink]="['/param-article', paramArticle.id, 'view']">{{ paramArticle.id }}</a></td>
                    <td>{{ paramArticle.code }}</td>
                    <td>{{ paramArticle.libelle }}</td>
                    <td>{{ paramArticle.description }}</td>
                    <td>{{ paramArticle.consommable }}</td>
                    <td>{{ paramArticle.quantiteSeuil }}</td>
                    <td>{{ paramArticle.garantieSeuil }}</td>
                    <td>{{ paramArticle.expirationSeuil }}</td>
                    <td>{{ paramArticle.expirable }}</td>
                    <td>
                        <div *ngIf="paramArticle.famille">
                            <a [routerLink]="['/param-famille-article', paramArticle.famille?.id, 'view']" >{{ paramArticle.famille?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="paramArticle.unite">
                            <a [routerLink]="['/param-unite-mesure', paramArticle.unite?.id, 'view']" >{{ paramArticle.unite?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/param-article', paramArticle.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/param-article', paramArticle.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paramArticle)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
