<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-param-commune-heading" jhiTranslate="gestionStockJhipsterApp.paramCommune.home.createOrEditLabel">Create or edit a Param Commune</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.paramCommune.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.paramCommune.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                    <div *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('libelle')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.paramCommune.wilaya" for="field_wilaya">Wilaya</label>
                    <select class="form-control" id="field_wilaya" name="wilaya" formControlName="wilaya">
                        <option *ngIf="!editForm.get('wilaya')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="paramWilayaOption.id === editForm.get('wilaya')!.value?.id ? editForm.get('wilaya')!.value : paramWilayaOption" *ngFor="let paramWilayaOption of paramwilayas; trackBy: trackById">{{ paramWilayaOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('wilaya')!.invalid && (editForm.get('wilaya')!.dirty || editForm.get('wilaya')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('wilaya')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
