<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paramFamilleArticle">
            <h2><span jhiTranslate="gestionStockJhipsterApp.paramFamilleArticle.detail.title">Param Famille Article</span> {{ paramFamilleArticle.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionStockJhipsterApp.paramFamilleArticle.code">Code</span></dt>
                <dd>
                    <span>{{ paramFamilleArticle.code }}</span>
                </dd>
                <dt><span jhiTranslate="gestionStockJhipsterApp.paramFamilleArticle.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ paramFamilleArticle.libelle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/param-famille-article', paramFamilleArticle.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
