<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-admin-employe-heading" jhiTranslate="gestionStockJhipsterApp.adminEmploye.home.createOrEditLabel">Create or edit a Admin Employe</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.login" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                           formControlName="login"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                    <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prenom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                    <div class="input-group">
                        <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker #dateNaissanceDp="ngbDatepicker" formControlName="dateNaissance"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateNaissance')!.invalid && (editForm.get('dateNaissance')!.dirty || editForm.get('dateNaissance')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateNaissance')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.dateIntegration" for="field_dateIntegration">Date Integration</label>
                    <div class="input-group">
                        <input id="field_dateIntegration" type="text" class="form-control" name="dateIntegration" ngbDatepicker #dateIntegrationDp="ngbDatepicker" formControlName="dateIntegration"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateIntegrationDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateIntegration')!.invalid && (editForm.get('dateIntegration')!.dirty || editForm.get('dateIntegration')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateIntegration')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                           formControlName="adresse"/>
                    <div *ngIf="editForm.get('adresse')!.invalid && (editForm.get('adresse')!.dirty || editForm.get('adresse')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('adresse')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.utilisateur" for="field_utilisateur">Utilisateur</label>
                    <input type="checkbox" class="form-control" name="utilisateur" id="field_utilisateur"
                           formControlName="utilisateur"/>
                    <div *ngIf="editForm.get('utilisateur')!.invalid && (editForm.get('utilisateur')!.dirty || editForm.get('utilisateur')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('utilisateur')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.dateEntree" for="field_dateEntree">Date Entree</label>
                    <div class="input-group">
                        <input id="field_dateEntree" type="text" class="form-control" name="dateEntree" ngbDatepicker #dateEntreeDp="ngbDatepicker" formControlName="dateEntree"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateEntreeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockJhipsterApp.adminEmploye.profil" for="field_profil">Profil</label>
                    <select class="form-control" id="field_profil" name="profil" formControlName="profil">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adminProfilOption.id === editForm.get('profil')!.value?.id ? editForm.get('profil')!.value : adminProfilOption" *ngFor="let adminProfilOption of adminprofils; trackBy: trackById">{{ adminProfilOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
