<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paramWilaya">
            <h2><span jhiTranslate="gestionStockJhipsterApp.paramWilaya.detail.title">Param Wilaya</span> {{ paramWilaya.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionStockJhipsterApp.paramWilaya.code">Code</span></dt>
                <dd>
                    <span>{{ paramWilaya.code }}</span>
                </dd>
                <dt><span jhiTranslate="gestionStockJhipsterApp.paramWilaya.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ paramWilaya.libelle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/param-wilaya', paramWilaya.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
